<%= form_with model: place, local: true, data: {
                                            controller: :maps,
                                            action: "google-maps-callback@window->maps#initializeMap"
                                        } do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>


  <div class="field">
    <%= form.label :search %>
    <%= form.text_field :search, name: nil, class: 'form-control', data: { target: "maps.field", action: "keydown->maps#preventSubmit" } %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, class: 'form-control', data: { target: "maps.latitude" }%>
  </div>

  <div class="field">
    <%= form.label :logitude %>
    <%= form.text_field :logitude, class: 'form-control', data: { target: "maps.logitude" }%>
  </div>

  <div class="field">
    <%= form.label :address_line_1 %>
    <%= form.text_field :address_line_1 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode %>
  </div>

  <%= content_tag :div, nil, data: { target: "maps.map", class: 'map' }%>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
